Screen {
    layout: vertical;
    background: black;
    scrollbar-background: black;
    scrollbar-color: grey;
    scrollbar-color-active: white;
}

ImplantList {
    width: 2fr;
    border: solid grey;
    border-title-style: bold;
    background: black;
    border-title-color: white;
}
ImplantList Horizontal {
    height: 1;
}
ImplantList Horizontal Label {
    width: 1fr;
    content-align: center middle;
}
ServerLog {
    width: 1fr;
    background: black;
    border: solid grey;
    border-title-style: bold;
    border-title-color: white;
}
ServerLog Label {
    max-width: 95%;
    margin-left: 1;
    margin-right: 1;
}
CommandInput {
    dock: bottom;
    height: 1;
    border: solid green;
}
CommandOutput {
    height: 1fr;
    border: solid grey;
    border-title-color: white;
    border-title-style: bold;
}

CommandOutput Label {
    margin-left: 1;
    margin-right: 1;
    max-width: 95%;
}

